<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
	<meta name="description" content="My page"/>
    <title>Страничка обо мне</title>
  </head>
  <body>
    <img width="400" height="300" src="https://sun9-60.userapi.com/impf/c855424/v855424301/fe2a/MlI02Vz7AII.jpg?size=1280x960&quality=96&sign=4cf5221734dba16e0cf93be2bb92a197&type=album" alt="Парфенов Дмитрий"/>
    <h1>Парфенов Дмитрий</h1>
    <p>
	  Привет, меня зовут Парфенов Дмитрий, мне 19 лет. Родился и живу в Йошкар-Оле.
	</p>
    <h2>Учеба</h2>
    <p>
	  С первого по одинадцатый класс я учился в Лицее №11. После сдачи Егэ я поступил в Спб на специальность "Программная инженерия" , Но пришлось перепоступить в Полититех. Сейчас я учусь на первом курсе. Я выбрал ПС, потому что за IT будущее, где я смогу себя реализовать.
	</p>
    <h2>Увлечения</h2>
    <p>
	  Еще я увлекаюсь киберспортом. Летом я со своей командой занял 2 место на городском турнире по DOTA2. Мои планы в этом году выиграть Республику, затем Поволжье, Россию, а дальше, возможно, поехать на Чемпионат мира.
	</p>
    <h3>Любимые писатели:</h3>
    <ul>
      <li>Айзек Азимов</li>
      <li>Говард Лавкрафт</li>
      <li>Дмитрий Глуховский</li>
      <li>Чак Паланик</li>
    </ul>
    <h3>Любимые фильмы:</h3>
    <ol>
      <li>Шоу Трумэна</li>
      <li>Малхолланд Драйв</li>
      <li>Семь жизней</li>
      <li>Гравитация</li>
    </ol>
  </body>	
</html> 